<!-- Sidebar-->
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Menu</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'home:index' %}">Home</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'home:crear_autor' %}">Registrar</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'home:crear_post' %}">Publicar</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'home:crear_etiqueta' %}">Etiquetas</a>
    </div>
</div>